<div id="feature">
  <div class="container">
    <div class="row">
      <div class="moduletable center articles  col-sm-12">
        <div class="module_container">
          <div class="mod-newsflash-adv mod-newsflash-adv__center articles cols-4" id="module_218">
            <div class="row">
              <article class="col-sm-4 item item_num0 item__module  " id="item_155">
                <div class="item_content">
                  <figure class="item_img img-intro img-intro__"> 
                    <img src="https://livedemo00.template-help.com/joomla_60082/images/page1-img1.jpg" alt="">
                  </figure>
                  <h2 class="item_title item_title__center articles">
                    <span class="fa fa-trophy fa-2x icon_about_red" style=" vertical-align: middle; color: #8e333b;"></span>
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Призеры </span>
                    <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">фестивалей</span>
                  </h2>
                  <div class="item_introtext">
                    <p>Артисты имеют богатый опыт в жанре шоу и перфоманса уже много лет.</p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-4 item item_num1 item__module  " id="item_156">
                <div class="item_content">
                  <figure class="item_img img-intro img-intro__"> 
                    <img src="https://livedemo00.template-help.com/joomla_60082/images/page1-img2.jpg" alt="">
                  </figure>
                  <h2 class="item_title item_title__center articles">
                    <span class="fa fa-fire fa-2x icon_about_red" style=" vertical-align: middle; color: #8e333b;"></span>
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Огонь в</span>
                    <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">сердцах</span>
                  </h2>
                  <div class="item_introtext">
                    <p>Призеры многих конкурсов (Весна ЮФУ, NoF, WAFEst), приглашенные гости мероприятий (Закрытие огненных сезонов в Ельце, Воронеже, дни города и станиц) и мастера, которые с удовольствием делятся опытом!! Имеют опыт работы за рубежом! .</p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </article>
              <article class="col-sm-4 item item_num2 item__module  " id="item_157">
                <div class="item_content">
                  <figure class="item_img img-intro img-intro__"> 
                    <img src="https://livedemo00.template-help.com/joomla_60082/images/page1-img3.jpg" alt="">
                  </figure>
                  <h2 class="item_title item_title__center articles">
                    <span class="fa fa-star fa-2x icon_about_red" style=" vertical-align: middle; color: #8e333b;"></span>
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Богатый</span>
                    <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">опыт</span>
                  </h2>
                  <div class="item_introtext">
                    <p>За нашими плечами такие мероприятия как: Весна ЮФУ 2008, Огни Победы 2009, Love for life 2010, Ночь в Музее 2010, Halo Stage 2014, Благодар 2014, Квамманга 2014, Мерцающий огонь 2014, WAFEst 2014</p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </article>
            </div> 
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  