<div id="content_comment">
  <div class="container">
    <div class="mod-newsflash-adv mod-newsflash-adv__pricing_detailed cols-4" id="module_189">    
      <div class="row">
        <article class="col-sm-3 item item_num0 item__module  " id="item_75_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Полина Иванова (невеста)
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment1.png" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Спасибо за ваш профессионализм, девочки, говорю это не только как зритель, но как организатор и заказчик, у вас оригинальные костюмы, красивый номер и отличный подход к работе ))) будем сотрудничать )</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </article>
        <article class="col-sm-3 item item_num1 item__module  " id="item_76_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Полина Иванова (невеста)
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment2.png" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Мы тоже Пригласили на свадьбу в Ресторане "Белладжио". Шоу было Ооооочень завараживающее!!! Гостям очень понравилось!) Всё было на высшем уровне)))Ребята Спасибо Вам БОЛЬШОЕ!)))</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>  
        </article>
          
        <article class="col-sm-3 item item_num2 item__module  " id="item_77_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Полина Иванова (невеста)
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment3.png" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Мы тоже Пригласили на свадьбу в Ресторане "Белладжио". Шоу было Ооооочень завараживающее!!! Гостям очень понравилось!) Всё было на высшем уровне)))Ребята Спасибо Вам БОЛЬШОЕ!)))</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>  
        </article>
        <article class="col-sm-3 item item_num3 item__module   lastItem" id="item_78_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Полина Иванова (невеста)
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment4.png" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Спасибо за ваш профессионализм, девочки, говорю это не только как зритель, но как организатор и заказчик, у вас оригинальные костюмы, красивый номер и отличный подход к работе ))) будем сотрудничать )</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>  
        </article>
      </div> 
    </div>
  </div>
</div>      