
<div id="content_comment">
  <div class="container">
    <div class="mod-newsflash-adv mod-newsflash-adv__pricing_detailed cols-4" id="module_189">   


       <div class="row port-item-p">
        <div class="col-sm-4">
          <p class="text-muted_about_us_red_theme" style="font-size: 16px; line-height: 35px;">
            За много лет существования, артисты шоу «Беркана» выступили на множестве различных праздников и мероприятий в Ростове, в других городах России и даже заграницей. Наше шоу завершало корпоративы таких известных компаний, как Сбербанк, Евросеть, Теле2, Harley-Davidson, Selgros Cash&Carry и не только! Но не слушайте нас, слушайте наших заказчиков:
          </p>
        </div>
        <div class="col-sm-8">
          <div class="comment">
            <article class="item item_num0 item__module  " id="item_75_189">
              <div class="item_content" style="padding: 25px 20px 0px 20px;">
                <h5 class="item_title item_title__pricing_detailed">
                  <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                    Ольга Калафат
                  </span>
                </h5>
                <div class="price item_introtext row" style="margin-bottom: 17px;">
                  <div class="col-sm-4">
                    <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                      <img src="/images/comment.jpg" alt="">
                    </figure>
                  </div>
                  <div class="col-sm-8">
                    <ul style="padding: 15px 0 0px;">
                      <li style="text-transform: none; font-size: 16px; line-height: 30px;">От лица Ростовского отделения Общероссийской общественной организации "Российский союз спасателей " хочу поблагодарить Шоу Беркана за великолепное, яркое и, во всех смыслах, зажигательное выступление в нашем ежегодном проекте - детском полевом лагере "Будущее России" https://vk.com/dprcamp ! Дети и не только, думаю, ещё долго будут в восторге! Спасибо вам за ваш вклад в патриотическое воспитание детей и молодежи, поддержку подрастающего поколения в получении ими навыков безопасной жизнедеятельности ! За отзывчивость и доброе дело!
Желаем вам всех благ и творческих успехов!!!!</li>
                    </ul>
                  </div>  
                </div>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="row">
        <article class="col-sm-3 item item_num0 item__module  " id="item_75_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Юлия Пивоварова
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment1.jpg" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Спасибо за ваш профессионализм, девочки, говорю это не только как зритель, но как организатор и заказчик, у вас оригинальные костюмы, красивый номер и отличный подход к работе ))) будем сотрудничать )</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </article>
        <article class="col-sm-3 item item_num3 item__module   lastItem" id="item_78_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Макс Щербаков
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment4.jpg" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Выражаем огромную благодарность коллективу “Шоу Беркана” за сотрудничество. Всегда приятно работать с настоящими профессионалами! Нам, как агентству, очень важно, что на этих людей можно положиться – приедут вовремя, с качественным реквизитом и выполнят свою работу на “отлично”.</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>  
        </article>
        <article class="col-sm-3 item item_num1 item__module  " id="item_76_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Анжела Смирнова
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment2.jpg" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Огромное спасибо Виктории и Владимиру за файер- шоу, которое я заказывала на 16-ти летие дочери. Действительно, это стало красивым завершением вечера.Спасибо Вам за пунктуальность, внимание к деталям, профессионализм и артистичность, Вы действительно, зажгли этот вечер! Публика, а самое главное именинница были в восторге! Наш сюрприз удался!
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>  
        </article>
          
        <article class="col-sm-3 item item_num2 item__module  " id="item_77_189">
          <div class="item_content" style="padding: 25px 20px 0px 20px;">
            <h5 class="item_title item_title__pricing_detailed">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                Ольга Атаманенко
              </span>
            </h5>
            <div class="item_introtext">
              <div class="price">
                <figure class="item_img img-intro img-intro__none" style="margin: 0 0 0px;"> 
                  <img src="/images/comment1_.png" alt="">
                </figure>
              </div>
              <ul>
                <li style="text-transform: none;">Огромное спасибо Владимиру Кашлакову и его коллегам за незабываемое выступление во время Байкерской свадьбы! Ребята, вы настолько харизматичные, динамичные, профессиональные - что дух захватывает! Ваша работа виртуозна и опасна, но вызывает совершенно безумные ощущения восторга, драйва, восхищения! Спасибо вам огромное за зрелищность и за организованность, это крайне редкое качество, которое мы очень ценим в наших партнерах!</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>  
        </article>
      </div> 
    </div>
  </div>
</div>      