<div id="footer-wrapper">
  <div class="footer-wrapper-inner">
    <div id="copyright" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="copyright col-sm-4"></div>
          <div class="moduletable   col-sm-4" style="text-align: center;">
            <div class="module_container">
              <div class="mod-menu" style="text-align: center;">
                <ul class="menu link">
                  <li class="item-549" style="text-align: center;">
                    <a href="#" class="not-active">
                      <img src="/images/mail.png" alt="info@demolink.org" />
                      <span class="image-title">
                        <span class="__cf_email__">viktoriya@berkana-show.ru</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div style="text-align: center;">
              <span class="siteName">Berkana-show</span>
              <span class="copy">&copy; </span>
              <span class=""><%= Time.now.year %></span>
            </div>  
          </div>
          <div class="moduletable   col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="back-top">
  <a href="index.html#"><span></span> </a>
</div>

<script type="text/javascript">
  
  $( document ).ready(function() {
    $('#create_order').click(function(){
      $('.result').removeClass("hide");
      $.ajax({
        type: 'POST',
        url: '/order',
        dataType: 'json',
        data: { name: $('#order_name').val(), phone: $('#order_phone').val() },
        success: function(data) {
          debugger;
          alert('!!!!!!!!');
        }
      });   
    });
  });
</script>