<div id="logo" class="col-sm-7" style="font-size: 50px !important;">
  <a href="/" style="font-size: 50px !important;">
    <span class="site-logo">
    <span class="item_title_char5 item_title_char_even item_title_char_second_half" style="margin-left: 17px;"> </span>
    <span class="item_title_char5 item_title_char_even item_title_char_second_half" style="margin-left: -15px;"> </span>
    <span class="item_title_char0 item_title_char_even item_title_char_second_half item_title_char_first" style="margin-left: -10px;">B</span>
    <span class="item_title_char1 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">e</span>
    <span class="item_title_char2 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">r</span>
    <span class="item_title_char3 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">k</span>
    <span class="item_title_char4 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">a</span>
    <span class="item_title_char5 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">n</span>
    <span class="item_title_char4 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">a</span>
    <span class="item_title_char5 item_title_char_even item_title_char_second_half" style="margin-left: -15px;"> </span>
    <span class="item_title_char0 item_title_char_odd item_title_char_first_half item_title_char_first"  style="margin-left: 10px;">s</span>
    <span class="item_title_char5 item_title_char_even item_title_char_second_half" style="margin-left: -15px;">h</span>
    <span class="item_title_char4 item_title_char_odd item_title_char_second_half" style="margin-left: -15px;">o</span>
    <span class="item_title_char6 item_title_char_even item_title_char_second_half item_title_char_last" style="margin-left: -15px;">w</span></span>
  </a>
</div>
<div class="moduletable   col-sm-5">
  <div class="module_container">
    <div class="mod-menu mod-menu__social">
      <ul class="nav menu social" style="margin: 5px 0 15px;">
        <li>
          <span style="font-family: 'Gabriela',serif; font-size: 20px;"><i class="icons-marker fa fa-phone"></i> 800-2345-6789</span>
        </li>
      </ul>  
      <ul class="nav menu social" style="margin: 5px 0 15px;">
        <li class="item-151"><a class="fa fa-instagram" href="portfolio.html#" title="RSS" ></a></li>
        <li class="item-149"><a class="fa fa-vk" href="portfolio.html#" title="Google+" ></a></li>
        <li class="item-150"><a class="fa fa-twitter" href="portfolio.html#" title="Twitter" ></a></li>
        <li class="item-148"><a class="fa fa-facebook" href="portfolio.html#" title="Facebook" ></a></li>
      </ul>
    </div>
  </div>
</div>