<div id="footer-wrapper">
  <div class="footer-wrapper-inner">
    <div id="copyright" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="copyright col-sm-3">
            <div class="module_container">
              <div class="mod-menu" style="text-align: center;">
                <ul class="menu link">
                  <li class="item-549" style="text-align: center;">
                    <a href="#" class="not-active">
                      <img src="/images/mail.png" alt="info@demolink.org" />
                      <span class="image-title">
                        <span class="__cf_email__">viktoriya@berkana-show.ru</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div style="text-align: center;">
              <span class="siteName">Berkana-show</span>
              <span class="copy">&copy; </span>
              <span class=""><%= Time.now.year %></span>
            </div>  
          </div>
          <div class="moduletable   col-sm-5" style="text-align: center;">
            <h3 style="font-size: 18px;">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Хотите заказать огненное шоу? Оставьте свой телефон и наш менеджер перезвонит Вам!</span>

            </h3>
          </div>
          <div class="moduletable   col-sm-4">
            <form action="/order" class="new_order" id="new_order" method="post">
              <div class="row" style="text-align: center">
                <div class="input-group input-group" style="width: 80%; margin-left: 10%;">
                  <input aria-describedby="sizing-addon1" class="form-control" style="max-height: 30px;" id="order_name" name="name" placeholder="Ваше имя" type="text" style="max-height: 30px;"/>
                </div>
                <div class="col-sm-6 input-group input-group" style="width: 80%; margin-top: 10px; margin-left: 10%;">
                  <input id="order_phone" aria-describedby="sizing-addon1" style="max-height: 30px;" class="form-control" name="phone" placeholder="Ваш телефон" type="text" /><span class="input-group-btn"><button class="btn btn-secondary" id="create_order" style="max-height: 30px; padding-top: 5px;" type="button">Заказать!</button></span>
                </div>
              </div> 
              <div class="row" style="text-align: center">
                <div class="col-sm-12 item_content hide result">
                  <h5 class="item_title item_title__pricing_detailed heading-style-5 visible-first">
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">
                      Заявка принята
                    </span>
                  </h5>
                </div>
              </div>  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="back-top">
  <a href="index.html#"><span></span> </a>
</div>

<script type="text/javascript">
  
  $( document ).ready(function() {
    $('#create_order').click(function(){
      $('.result').removeClass("hide");
      $.ajax({
        type: 'POST',
        url: '/order',
        dataType: 'json',
        data: { name: $('#order_name').val(), phone: $('#order_phone').val() },
        success: function(data) {
          debugger;
          alert('!!!!!!!!');
        }
      });   
    });
  });
</script>