<div id="footer-wrapper">
  <div class="footer-wrapper-inner">
    <div id="copyright" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="copyright col-sm-6">
            <span class="siteName">Berkana-show</span>
            <span class="copy">&copy; </span>
            <span class="year">2017</span>
          </div>
          <div class="moduletable   col-sm-5">
            <div class="module_container">
              <div class="mod-menu">
                <ul class="menu link">
                  <li class="item-549">
                    <a href="https://livedemo00.template-help.com/cdn-cgi/l/email-protection#553c3b333a153130383a393c3b3e7b3a2732">
                      <img src="https://livedemo00.template-help.com/joomla_60082/images/mail.png" alt="info@demolink.org" />
                      <span class="image-title">
                        <span class="__cf_email__" data-cfemail="fe97909891be9a9b939192979095d0918c99">manager@berkana.ru</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  