<footer class="motopress-wrapper footer" style="padding: 65px 0 50px 0;">
    <div class="container">
      <div class="row">
        <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="592e9e8827f61">
          <div class="row">
            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
              <div class="logo pull-left">
                <a href="index.html" class="logo_h logo_h__img" style="font-family: coca_cola_regular; font-size: 50px; color: #303030;">Berkana show</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span12 contacts-wrapper" data-motopress-type="static" data-motopress-static-file="static/static-contacts.php">
              <span class="phone" style="color: #b15f45; font-family: elizabeth_tt_uni;
    font-size: 25px;"><i class="icon-bell" style="color: #b15f45;"></i>+7 989 535 777 8</span>
              <ul class="social">
                <li>
                  <a href="index.html#" title="vk" style="font-size: 15px; color: #6b5151;">vk</a>
                </li>
                <li>
                  <a href="index.html#" title="instagram" style="font-size: 15px; color: #6b5151;">instagram</a>
                </li>
                <li>
                  <a href="index.html#" title="facebook" style="font-size: 15px; color: #6b5151;">facebook</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row copyright">
            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
              <div id="footer-text" class="footer-text">
                <a href="https://livedemo00.template-help.com/wordpress_48981/" title="" style="font-size: 15px;" class="site-name">Berkana show &copy; 2017</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="back-top-wrapper" class="visible-desktop">
      <p id="back-top">
        <a href="index.html#top"><span>up</span></a>
      </p>
    </div>
  </footer>